.boardArticle .no {width:10%; text-align:center}
.boardArticle .title {width:40%; text-indent:5px; }
.boardArticle .author { width:16%;text-align:center}
.boardArticle .date { width:16%; text-align:center}
.boardArticle .hit { width:17%; text-align:center}